In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv'
df = pd.read_csv(url)

Задание 1 (вопрос)

In [42]:
task1=df.groupby('Position')[['Wage','Value']].mean().sort_values(['Value'],ascending=False)
task1.index[0]

'LF'

In [46]:
#средняя зарплата на позиции:
df[df.Position=="LF"]['Wage'].mean()

75125.0

Задание 1

In [61]:
aaa=df.groupby("Club")['Wage'].agg(['mean','median'])
aaa

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

In [68]:
aaa.columns=['mean','median']
len(aaa[aaa['mean']==aaa['median']])

52

Задание 2

In [82]:
newaaa=aaa.sort_values('mean',ascending=False)['mean']
newaaa[0]

188090.9090909091

In [83]:
newaaa.index[0]

'Real Madrid'

Задача 1

In [104]:
df.groupby('Club').sum().loc['Chelsea']['Wage']

2035000

Задача 2

In [109]:
task2=df[df.Age==20]
task2.groupby('Nationality').max().loc['Argentina']['Wage']

54000

Задача 3

In [111]:
task3=df[df.Age==30]
task3.groupby('Nationality').max().loc['Argentina']['Wage']

300000

Задача 4

In [113]:
task4=df[df.Age==30]
task4.groupby('Nationality').min().loc['Argentina']['Wage']

1000

Задача 5

In [126]:
task5=df[(df.Nationality=='Argentina')&(df.Club=='FC Barcelona')]
print(task5.Strength[0],',',task5.Balance[0])

59 , 95