In [92]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it.csv')
df.head()

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽"
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽"
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽"
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽"
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽"

Задание 1

In [57]:
def fun(p):
    s=[]
    for i in p:
        if i.isdigit():
            s.append(i)
    s=float(''.join(s))/100
    return(s)
#функция переводит строку в число

In [111]:
wage=pd.DataFrame(df[df['З/п в валюте найма'].str.contains("₽")]['З/п в валюте найма'].apply(fun))
wage['age']=df[df['З/п в валюте найма'].str.contains("₽")]["Дата рождения"]

In [114]:
round(wage['З/п в валюте найма'].mean(),2)

190669.89

Задание 2

In [91]:
df.loc[wage.idxmax()]['Вакансия']

'Head of Software Testing Department'

Задание 3

In [147]:
k=wage[wage['З/п в валюте найма']==wage['З/п в валюте найма'].max()]

In [155]:
from datetime import datetime
import time
def make_unix_time(k):
    return time.mktime(k.timetuple())

In [186]:
from datetime import datetime
import time
day=k['age'][14]
day=datetime.strptime(day,'%d.%m.%Y')
delta=datetime.now() - day
print(round(delta.days/365))

34

Задание 4

In [188]:
df[df['Вакансия'].str.contains("Engineer")]['З/п в валюте найма']

4      172 413,00 ₽
9       9 500,00 zł
11     12 000,00 zł
12     10 500,00 zł
13      9 500,00 zł
18     200 000,00 ₽
19     135 000,00 ₽
37     13 000,00 zł
38      lev6 446,00
39     Ft650 000,00
54     80 000,00 Kč
Name: З/п в валюте найма, dtype: object