In [6]:
import datetime
from datetime import datetime, timedelta

Задание 1

In [10]:
date_str='May 9 2017 9:00AM'
date_n=datetime.strptime(date_str,'%b %d %Y %H:%M%p')

In [12]:
date_n.hour

9

Задание 2

In [14]:
date_n+=timedelta(hours=1)

In [15]:
date_n

datetime.datetime(2017, 5, 9, 10, 0)

Задание 3

In [19]:
date_m=date_n.strftime('%Y-%m-%d')
date_m

'2017-05-09'

Задание 4

In [25]:
startDate='2017-01-01'
endDate='2017-01-03'
startDate_datetime=datetime.strptime(startDate,'%Y-%m-%d')
endDate_datetime=datetime.strptime(endDate,'%Y-%m-%d')

In [27]:
currentDay=startDate_datetime
while currentDay<endDate_datetime:
    print(currentDay.strftime('%Y-%m-%d %H:%M:%S'))
    currentDay+=timedelta(hours=1)

2017-01-01 00:00:00
2017-01-01 01:00:00
2017-01-01 02:00:00
2017-01-01 03:00:00
2017-01-01 04:00:00
2017-01-01 05:00:00
2017-01-01 06:00:00
2017-01-01 07:00:00
2017-01-01 08:00:00
2017-01-01 09:00:00
2017-01-01 10:00:00
2017-01-01 11:00:00
2017-01-01 12:00:00
2017-01-01 13:00:00
2017-01-01 14:00:00
2017-01-01 15:00:00
2017-01-01 16:00:00
2017-01-01 17:00:00
2017-01-01 18:00:00
2017-01-01 19:00:00
2017-01-01 20:00:00
2017-01-01 21:00:00
2017-01-01 22:00:00
2017-01-01 23:00:00
2017-01-02 00:00:00
2017-01-02 01:00:00
2017-01-02 02:00:00
2017-01-02 03:00:00
2017-01-02 04:00:00
2017-01-02 05:00:00
2017-01-02 06:00:00
2017-01-02 07:00:00
2017-01-02 08:00:00
2017-01-02 09:00:00
2017-01-02 10:00:00
2017-01-02 11:00:00
2017-01-02 12:00:00
2017-01-02 13:00:00
2017-01-02 14:00:00
2017-01-02 15:00:00
2017-01-02 16:00:00
2017-01-02 17:00:00
2017-01-02 18:00:00
2017-01-02 19:00:00
2017-01-02 20:00:00
2017-01-02 21:00:00
2017-01-02 22:00:00
2017-01-02 23:00:00

Задание 5

In [3]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data.tsv', sep='\t')

In [4]:
def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')

In [7]:
data['datetime'] = data.apply(convert_to_datetime, axis=1)

In [8]:
import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())

In [9]:
data['unixtime'] = data.apply(make_unix_time, axis=1)

In [12]:
gr=data.groupby('user_id')['unixtime']
dates=gr.max()-gr.min()
dates

user_id
1010         0.0
1036         0.0
1041     71760.0
1042    647340.0
1047    374520.0
          ...
1393         0.0
1394         0.0
1397         0.0
1398         0.0
1424    721380.0
Name: unixtime, Length: 124, dtype: float64

In [18]:
new_dates=pd.DataFrame({'user_id':dates.index,'diff':dates.values})

In [33]:
new_new=new_dates[new_dates['diff']>0]
value=new_new['diff'].mean()
value=value/86400
round(value,2)

3.49