In [1]:
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
df=pd.read_json (r'https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/tinkoff_hh.json',lines=True)
for i in range(1,len(df)):
    if i%2==1:
        df['index'][i]=int(df['index'][i-1]['_id'])
        df.drop(i-1, inplace=True)

In [4]:
df['vac']=df['vacancy'].str.lower()

Пользователь вводит вакансию и получает DataFrame со всеми возможными вариантами зарплаты для этой вакансии

In [9]:
vac=input("Введите вакансию:\n")
p=pd.DataFrame(df[df['vac']==vac.lower()][['vacancy','income']])
newp=p.groupby('income')
newp.first()

Введите вакансию:
 Менеджер по привлечению юридических лиц

                                                vacancy
income
от 80 000 руб.  Менеджер по привлечению юридических лиц