In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/deputat.csv"
df = pd.read_csv(url)
df.head()

,name,lastname,otchestvo,gender,birthdate,start,end,district
0,Ефимов,Виталий,Борисович,м,04.04.1940,18.09.2016,NaN,Мордовский
1,Максимова,Надежда,Сергеевна,ж,13.01.1942,18.09.2016,NaN,Хакасский
2,Мищеряков,Юрий,Николаевич,м,01.01.1945,18.09.2016,NaN,Оренбургский
3,Борцов,Николай,Иванович,м,08.09.1945,18.09.2016,NaN,Липецкий
4,Гончар,Николай,Николаевич,м,18.10.1946,18.09.2016,NaN,Центральный

Задание 1

In [20]:
from datetime import datetime
import time
from math import floor
def years(date):
    day=datetime.strptime(date,'%d.%m.%Y')
    delta=datetime.now() - day
    return floor(delta.days/365)

In [27]:
df['age']=df['birthdate'].apply(years)
round(df['age'].mean())

56

Задание 2

In [47]:
length=len(df)
men=round(len(df[df['gender']=='м'])/length*100,1)
men
#число мужчин от общего числа

84.8

In [49]:
round(100-men,1)

15.2