In [3]:
!pip3 install requests

Requirement already satisfied: requests in c:\users\tasia\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\tasia\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tasia\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\tasia\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\tasia\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (2.9)

WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'C:\Users\tasia\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [27]:
import requests  
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')

response.text[:230]
currencies = response.json()
currencies['Valute']['CZK']['Value']

28.7729

In [30]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it_new.csv')

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.0,₽
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.0,₽
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.0,₽
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽",250000.0,₽
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽",172413.0,₽

In [29]:
def convert(s):
    if s=="₽":
        k=1
    elif s=="Kč":
        k=currencies['Valute']['CZK']['Value']
    elif s=="zł":
        k=currencies['Valute']['PLN']['Value']
    elif s=="€":
        k=currencies['Valute']['EUR']['Value']
    elif s=="lev":
        k=currencies['Valute']['BGN']['Value']
    elif s=="Ft":
        k=currencies['Valute']['HUF']['Value']
    elif s=="$":
        k=currencies['Valute']['USD']['Value']
    return k

In [33]:
df['new']=df['curenc'].apply(convert)

In [36]:
df['Заработная плата в рублях']=df['col']*df['new']

In [39]:
df.head(10)

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc,new,Заработная плата в рублях
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.0,₽,1.000,140000.0
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.0,₽,1.000,130000.0
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.0,₽,1.000,200000.0
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽",250000.0,₽,1.000,250000.0
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽",172413.0,₽,1.000,172413.0
5,6,21.08.1973,Big Data Developer,Big Data,Санкт-Петербург,"280 000,00 ₽",280000.0,₽,1.000,280000.0
6,7,10.10.1991,JS Developer,JS,Москва,"129 000,00 ₽",129000.0,₽,1.000,129000.0
7,8,16.08.1982,Разработчик мобильных приложений,Android,Москва,"185 000,00 ₽",185000.0,₽,1.000,185000.0
8,9,16.05.1988,Инженер-программист 2 категории,.NET,Санкт-Петербург,"160 000,00 ₽",160000.0,₽,1.000,160000.0
9,10,01.12.1990,Java Engineer,Java,Краков; Польша,"9 500,00 zł",9500.0,zł,17.331,164644.5